.player-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 3px;
}

.react-player {
  min-width: 100%;
  min-height: 75vh;
}

.audio-controls {
  max-height: 100px;
  margin-top: 5px;
  margin-bottom: 10vh;
  margin-left: 5%;
}

.playCity-icon {
  max-height: 25px;
  max-width: 25px;
}

.playCity-button-style {
  border: none;
  background: transparent;
  box-shadow: none;
  margin-bottom: 10px;
}

.playCity-button-style:focus {
  outline: none;
}
