.player-wrapper {
  /* position: relative; */
  /* Player ratio: 100 / (1280 / 720) */
  /* padding-top: 56.25%; */
  display: flex;
  flex-wrap: wrap;
}

.react-player {
  /* position: absolute;
  top: 0;
  left: 0; */
  min-width: 100%;
  min-height: 20%;
  z-index: 0;
}

.audio-controls {
  margin-top: 2px;
  margin-left: 5%;
  z-index: 1;
}

.playCity-icon {
  max-height: 25px;
  max-width: 25px;
}

.playCity-button-style {
  border: none;
  background: transparent;
  box-shadow: none;
}

.playCity-button-style:focus {
  outline: none;
}
