.cardImage {
	object-fit: fill;
}

.cardButton {
	border: 0px;
	background-color: white;
	width: 480px;
	height: 280px;
	padding: 0px;
}

.cardCity {
	width: 500px;
	height: 300px;
	padding: 0px;
	margin: 10px;
}
