.fullHeight Container {
  min-height: 20%;
  overflow: hidden;
}

.emailText {
  color: rgb(201, 194, 206);
}

.loginLinkStyle {
  color: rgb(201, 194, 206);
}

.loginLinkStyle:hover {
  color: white;
  text-decoration: none;
}
